/** common css */
body {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
}
p {
  font-size: 25px;

  cursor: pointer;
}

/** */
main {
  height: 100vh;
  background: #232323;
}

.logs {
  background-color: #efefef;
  width: 100%;
  margin-bottom: 40px;
}
.logs > h2 {
  font-size: 27px;
  padding: 0.5rem;
}
.logs > p {
  margin: 0;
  padding: 1px 0.5rem;
}

.events {
  display: grid;
  justify-content: center;
}
.events > button {
  background-color: #cbccc6;
}
.events > p {
  color: #cbccc6;
  padding: 0.5rem 1rem;
}
